@charset "UTF-8";
p.Arial {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

p.greyArial {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: darkgrey;
}

h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: left, top;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  background-color: gainsboro;
}

.cardContainer {
  position: relative;
  width: 320px;
  height: 500px;
  margin: 20px;
}

.cardContainer__image--houseImage {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  left: 10px;
  top: 10px;
  z-index: -1;
  width: 320px;
  height: 400px;
}

#cardContainer--heartbtn {
  position: absolute;
  left: 40px;
  top: 40px;
  opacity: 0;
  z-index: 500;
}

#cardContainer--heartbtn1 {
  position: absolute;
  left: 40px;
  top: 40px;
  opacity: 0;
  z-index: 500;
}

#cardContainer--heartbtn2 {
  position: absolute;
  left: 40px;
  top: 40px;
  opacity: 0;
  z-index: 500;
}

#cardContainer--heartbtn3 {
  position: absolute;
  left: 40px;
  top: 40px;
  opacity: 0;
  z-index: 500;
}

.cardContainer__btn--love {
  position: absolute;
  
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.cardContainer__btn--love:after {
  content: "";
  position: absolute;
  left: auto;
  right: 0px;
  top: 0px;
  margin: 0 auto;
  background: url(https://abs.twimg.com/a/1446862637/img/t1/web_heart_animation.png) 0 0 no-repeat;
  background-size: 2900%;
  height: 50px;
  width: 70px;
}

#cardContainer--heartbtn:checked+.cardContainer__btn--love:after {
  -webkit-animation: heart-burst steps(28) 0.8s 1 both;
  animation: heart-burst steps(28) 0.8s 1 both;
}

#cardContainer--heartbtn1:checked+.cardContainer__btn--love:after {
  -webkit-animation: heart-burst steps(28) 0.8s 1 both;
  animation: heart-burst steps(28) 0.8s 1 both;
}

#cardContainer--heartbtn2:checked+.cardContainer__btn--love:after {
  -webkit-animation: heart-burst steps(28) 0.8s 1 both;
  animation: heart-burst steps(28) 0.8s 1 both;
}

#cardContainer--heartbtn3:checked+.cardContainer__btn--love:after {
  -webkit-animation: heart-burst steps(28) 0.8s 1 both;
  animation: heart-burst steps(28) 0.8s 1 both;
}

@-webkit-keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes heart-burst {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.cardContainer__Content {
  position: relative;
  bottom: 90px;
  padding: 15px;
  background-color: white;
  border-radius: 25px;
  left: 30px;
  width: 250px;
  height: 120px;
  z-index: 900;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cardContainer__Content--rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  position: relative;
  align-items: flex-end;
  width: fit-content;
  height: 20px;
  margin-left: 10px;
}

.cardContainer__Content--rating>span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 0px;
}

.cardContainer__Content--rating>span:hover:before, .cardContainer__Content--rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
  color: #fd6767;
}

.cardContainer__Content--para {
  align-items: stretch;
  position: relative;
  width: 130px;
}

.cardContainer__Content--reservebtn {
  position: relative;
}

.cardContainer__Content--checkbtn {
  border-radius: 15px;
  background-color: #f8ba46;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 90px;
  height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float: right;
  margin-top: 15px;
}

.cardContainer__Content--checkbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cardContainer__Content--checkbtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cardContainer__Content--checkbtn:hover span {
  padding-right: 15px;
}

.cardContainer__Content--checkbtn:hover span:after {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 700px ){
   .cards{

    
    display: none;
   }
}
/*# sourceMappingURL=variables.css.map */